<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>OnDemand</string>
    <key>CFBundleGetInfoString</key>
    <string>OnDemand 1.0, Copyright © 2026 Simon Peter. BSD 2-Clause License.</string>
    <key>CFBundleIdentifier</key>
    <string>org.gershwin.OnDemand</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OnDemand</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Simon Peter. BSD 2-Clause License.</string>
    <key>NSMainNibFile</key>
    <string></string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>ApplicationDescription</key>
    <string>On-demand package installer and launcher</string>
    <key>ApplicationName</key>
    <string>OnDemand</string>
    <key>ApplicationRelease</key>
    <string>1.0</string>
    <key>Authors</key>
    <array>
        <string>Simon Peter</string>
    </array>
    <key>Copyright</key>
    <string>Copyright © 2026 Simon Peter. BSD 2-Clause License.</string>
    <key>FullVersionID</key>
    <string>1.0</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Debian Package</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>deb</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeIconFile</key>
            <string></string>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>FreeBSD Package</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>txz</string>
                <string>tbz</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeIconFile</key>
            <string></string>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>OpenBSD Package</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>tgz</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeIconFile</key>
            <string></string>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Arch Linux Package</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pkg.tar.zst</string>
                <string>pkg.tar.xz</string>
                <string>pkg.tar.gz</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeIconFile</key>
            <string></string>
        </dict>
    </array>
</dict>
</plist>
