<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>packages</key>
    <array>
        <string>gimp</string>
    </array>
    <key>postinstall_command</key>
    <string>/usr/bin/gimp</string>
    <key>os_overrides</key>
    <dict>
        <key>freebsd</key>
        <dict>
            <key>postinstall_command</key>
            <string>/usr/local/bin/gimp</string>
        </dict>
        <key>openbsd</key>
        <dict>
            <key>postinstall_command</key>
            <string>/usr/local/bin/gimp</string>
        </dict>
    </dict>
</dict>
</plist>
