[Unit]
Description=Gershwin Directory Services Helper
After=network.target rpcbind.service gdomap.service
Before=display-manager.service
Wants=gdomap.service

[Service]
Type=forking
ExecStart=/bin/sh -c '. /System/Library/Makefiles/GNUstep.sh && /System/Library/Tools/dshelper'
PIDFile=/var/run/dshelper.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
