*.o
*.app
*.obj
*.prefPane/
*.core
*.txt
*.log
StartupDisk/efiboot-helper
obj/
examples/
tmp
tmp2
ports/portstree/sysutils/*/work/
work/
FreeBSD:*:*/
distinfo
root/
*.tar.zst
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar
LoginWindow/j
minibus/analyze-hello-reply
minibus/compare-hello-format
minibus/test-hello-destination
minibus/minibus-daemon.log
minibus/daemon.log
*.framework/
*.so/
derived_src/
old/