<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Books</string>
	<key>CFBundleDisplayName</key>
	<string>Books</string>
	<key>ApplicationName</key>
	<string>Books</string>
	<key>ApplicationDescription</key>
	<string>Read EPUB e-books on a wooden bookshelf with page-turning animations</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.gershwin-desktop.Books</string>
	<key>CFBundleExecutable</key>
	<string>Books</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>Books.png</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>Authors</key>
	<array>
		<string>Simon Peter</string>
	</array>
	<key>URL</key>
	<string>https://github.com/gershwin-desktop/gershwin-components</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Simon Peter</string>
	<key>CopyrightDescription</key>
	<string>Released under the BSD 2-Clause License</string>
</dict>
</plist>
