{
    ApplicationDescription = "Read documentation for Markdown, man and plain text";
    ApplicationIcon = Help;
    ApplicationName = Help;
    ApplicationRelease = "r0.1";
    ApplicationVersion = "v0.1";
    Authors = (
	"Simon Peter"
    );
    CFBundleDevelopmentRegion = English;
    CFBundleExecutable = Help;
    CFBundleIconFile = "Help.png";
    CFBundleIdentifier = "io.github.gershwin-desktop.Help";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = Help;
    CFBundlePackageType = APPL;
    CFBundleShortVersionString = "1.0";
    CFBundleVersion = 1;
    Copyright = "Copyright (c) 2026 Simon Peter";
    CopyrightDescription = "Released under the BSD 2-Clause License";
    FullVersionID = "1.0.0";
    NSAppVersion = "1.0";
    NSBuildVersion = 1;
    NSHumanReadableCopyright = "Copyright (c) 2026 Simon Peter. BSD-2-Clause License.";
    NSMainNibFile = "";
    NSPrincipalClass = NSApplication;
    NSTypes = (
	{
	    NSHumanReadableName = "Markdown Document";
	    NSMIMETypes = (
		"text/markdown"
	    );
	    NSRole = Viewer;
	    NSUnixExtensions = (
		md,
		markdown
	    );
	},
	{
	    NSHumanReadableName = "Plain Text";
	    NSMIMETypes = (
		"text/plain"
	    );
	    NSRole = Viewer;
	    NSUnixExtensions = (
		txt,
		text
	    );
	}
    );
}
