<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN"
 "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.github.gershwin-desktop.menuextra.brightness</string>
    <key>CFBundleName</key>
    <string>Brightness</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>GSMenuExtraPriority</key>
    <integer>40</integer>
    <key>GSPrincipalClass</key>
    <string>BrightnessExtra</string>
</dict>
</plist>
