<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Keyboard</string>
	<key>CFBundleDisplayName</key>
	<string>Keyboard</string>
	<key>ApplicationName</key>
	<string>Keyboard</string>
	<key>ApplicationDescription</key>
	<string>Configure keyboard layout and key repeat</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.gershwin-desktop.Keyboard.prefpane</string>
	<key>CFBundleExecutable</key>
	<string>Keyboard</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSPrincipalClass</key>
	<string>KeyboardPane</string>
	<key>NSPrefPaneIconFile</key>
	<string>Keyboard.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Keyboard</string>
	<key>Authors</key>
	<array>
		<string>Simon Peter</string>
	</array>
	<key>URL</key>
	<string>https://github.com/gershwin-desktop/gershwin-components</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Simon Peter</string>
	<key>CopyrightDescription</key>
	<string>Released under the BSD 2-Clause License</string>
</dict>
</plist>
